@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --home-name-site-color: rgb(70, 64, 66);
    --github-color: #010409;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to bottom right, red, yellow);
}
.home-content, .game {
    height: 90vh;
}
.navbar-item {
    font-size: 1.15rem;
}

.home-content-animation {
    animation-name: deslize;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: infinite;
}

@keyframes deslize {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(-100vw, 0);
    }
    100% {
        transform: translate(-100vw, 0);
    }
}

.home-title {
    font-size: 5.5rem;
}
.home-subtitle {
    font-size: 1.5rem;
    color: rgb(209, 212, 120);
}
.home-title-name-site {
    font-weight: 600;
    color: var(--home-name-site-color);
}
.home-button-play {
    height: 80px;
    width: 250px;
    background-color: rebeccapurple;
    box-shadow: 0 0 5px black, 0 0 10px orange, 0 0 20px rgb(38, 38, 68);
}

.home-button-play:hover {
    box-shadow: 0 0 5px rgb(255, 1, 1);
    background: rgb(70, 64, 66);
}

.game-style-button-select-style, .game-style-button-select-random-style {
    height: 80px;
    width: 250px;
    background-color: rgb(0, 234, 255);
    box-shadow: 0 0 5px black, 0 0 10px orange, 0 0 20px rgb(38, 38, 68);
}

.home-button-repository {
    height: 80px;
    width: 250px;
    background-color: var(--github-color);
    box-shadow: 0 0 5px black, 0 0 10px orange, 0 0 20px rgb(38, 38, 68);
}

.home-button-repository:hover {
    background-color: rgb(70, 64, 66);
    box-shadow: 0 0 5px rgb(255, 1, 1);
}
.home-img-dice {
    height: 500px;
}

.ba {
    border: 1px solid gray;
}

.floating {
    animation-name: floating;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: infinite;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 10px);

    }
    100% {
        transform: translate(0, 0px);
        
    }
}

.game-style-dice-glass {
    height: 60vh;
    width: 80vw;
}

.game {
    height: 90vh;
    width: 100vw;
}
.game-content-animation-start {
    animation-name: game-deslize;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: infinite;
}

@keyframes game-deslize {
    0% {
        transform: translate(100vw, 0);
    }
    50% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}

.game-content-animation-end {
    animation-name: deslize-end;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: infinite;
}

@keyframes deslize-end {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(-100vw, 0);
    }
    100% {
        transform: translate(-100vw, 0);
    }
}

/* about */
.about-content {
    height: 90vh;
}

.about-content-glass {
    height: 70vh;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.about-img-perfil {
    height: 40vh;
    border-radius: 50%;
    border: 1px solid red;
}